---
layout: post
slug: "photos"
title: "我们的照片,记录到永远"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
type: photos
---
<link rel="stylesheet" href="../lib/album/ins.css">
<link rel="stylesheet" href="../lib/vlog/css/style.css">
<link rel="stylesheet" href="../lib/album/photoswipe.css">
<link rel="stylesheet" href="../lib/album/default-skin/default-skin.css">
<ul class="nav nav-tabs nav-justified" style="margin-top:20px">
	<li id="li_album" class="active"><a onclick="to_album()">照片</a></li>
	<li id="li_vlog"><a onclick="to_vlog()">视频</a></li>
</ul>
<div id="1" class="instagram itemscope">
	<a href="https://malizhi.cn" target="_blank" class="open-ins">图片正在加载中…</a>
</div>
<div id="2" style="display:none;margin-top:20px">
	<center><h1>《再见》</h1></center>
	<hr/>
	<center>
	<div class="video-container">
	     <video id="video" controls="" src="http://pkyddcyaj.bkt.clouddn.com/1049_M0130900000sy7wH04OCsD1000670042.f40.mp4" preload="none" poster="none" width="100%" height="100%" autoplay="autoplay" object-fit="fill">
           <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/1049_M0130900000sy7wH04OCsD1000670042.f40.mp4" type="video/mp4">
		 </video>
	</div>
	</center>
      <hr/>

      <center><h1>《演员》</h1></center>
	<hr/>
	<center>
	<div class="video-container">
	     <video id="video" controls="" src="http://pkyddcyaj.bkt.clouddn.com/1049_M2109055001VcZrA24VLKE1001539426.f40.mp4" preload="none" poster="none" width="100%" height="100%" object-fit="fill">
           <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/1049_M2109055001VcZrA24VLKE1001539426.f40.mp4" type="video/mp4">
		 </video>
	</div>
	</center>
      <hr/>
    {% note default %} 12月 跟着妈妈一起晒太阳{% endnote %}
<video id="video1" controls="" preload="none" poster="none" width="100%" height="300" object-fit="fill">
      <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/5583358fef3daeb3a415ea94b1792990.mp4" type="video/mp4">
</video>

{% note primary %} 11月 打针好痛，伤心 {% endnote %}
<video id="video2" controls="" preload="none" poster="none"  width="100%" height="300" object-fit="fill">
      <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/8d59861e02ce62726d6aced7acdfe2da.mp4" type="video/mp4">
</video>

{% note success %} 10月 {% endnote %}
<video id="video3" controls="" preload="none" poster="none"  width="100%" height="300" object-fit="fill">
      <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/64ade68507822fb1d90330e2c891b78f.mp4" type="video/mp4">
</video>

{% note info %} 9月 {% endnote %}
<video id="video4" controls="" preload="none" poster="none"  width="100%" height="300" object-fit="fill">
      <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/79f5d55a7a0d2e3abaaf701963887ac8.mp4" type="video/mp4">
</video>

{% note warning %} 8月 {% endnote %}
<video id="video5" controls="" preload="none" poster="none"  width="100%" height="300" object-fit="fill">
      <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/eb18d9ea9930b94cf885d4ec982992cf.mp4" type="video/mp4">
</video>

{% note danger %} 7月 {% endnote %}
<video id="video6" controls="" preload="none" poster="none"  width="100%" height="300" object-fit="fill">
      <source id="mp4" src="http://pkyddcyaj.bkt.clouddn.com/ead956ce3f738c9ed560cbeffca198f8.mp4" type="video/mp4">
</video>
</div>
<script>
function to_vlog() {
    document.getElementById("1").style.display = "none",
    document.getElementById("2").style.display = "block",
    document.getElementById("li_vlog").setAttribute("class", "active"),
    document.getElementById("li_album").setAttribute("class", "")
}
function to_album() {
    document.getElementById("1").style.display = "block",
    document.getElementById("2").style.display = "none",
    document.getElementById("li_album").setAttribute("class", "active"),
    document.getElementById("li_vlog").setAttribute("class", "")
}
setTimeout(function() {
    var t, e;
    t = "../lib/album/ins.js",
    e = document.createElement("script"),
    document.getElementsByTagName("body")[0].appendChild(e),
    e.setAttribute("src", t)
},0)
</script>